---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Emilie Dagenais" description="About Emilie Dagenais">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
			<div class="meme">
				<img
				width="300"
				height="auto"
				src="/assets/about1.jpg"
				alt="Anchorman meme"
			/>
		</div>
		</Hero>
	
			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						A versatile Front-End Developer with substantial experience in modern front-end frameworks and hands-on knowledge of back-end technologies. Skilled in UX/UI design principles and responsive web layouts, I thrive in high-volume, collaborative environments, seamlessly integrating with cross-functional teams to create scalable, user-centered applications. Known for my adaptability and proactive approach, I prioritize writing clean, reusable code and stay current with emerging technologies. In fast-paced settings, I take initiative to optimize workflows, continuously improve my skill set, and contribute effectively to project goals. 		
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Experience</h2>
				<div class="content">
					<div>
					<p><span class="school">Trader Corporation</span> (2023-2024)</p>
<p class="role">Frontend Developer</p>
<p>Integral team member involved in the migration and development of 400+ websites onto Trader's platform, combining their CMS with front-end expertise in HTML, CSS, and JavaScript. Collaborated with stakeholders for seamless project execution. Managed a high-volume workload, as well as conducting bilingual QA checks on content and code integrity. Utilized responsive design and UI/UX best practices for optimal user experiences. Ensured cross-browser compatibility, AODA compliance, and performance optimization. Leveraged PHP and Docker for server-side scripting and containerization solutions, ensuring streamlined operations. Additionally, utilized Jira and Salesforce for efficient project management.</p>
</div>
</div>

<div class="content">
	<div>
	<p><span class="school">Loto-Québec</span> (2021-2022)</p>
<p class="role">Technical Specialist</p>
<p>Managed and monitored user accounts for espacejeux.com, troubleshooting and resolving technical issues both internally and on the client side. Acted as a mentor to team members, providing guidance and support to improve overall technical efficiency.</p>
</div>
</div>

<div class="content">
	<div>
	<p><span class="school">Casino de Montréal (Loto-Québec) </span> (2014-2021)</p>
<p class="role">Client Relations Specialist</p>
<p>Team Lead on high profile events, overseeing project execution and team performance. Mentored and trained new employees, fostering skill development and team cohesion. Ability to quickly adapt and implement changes. Demonstrated strong time management and problem-solving abilities.</p>
</div>
</div>


			</section>

			<section>
				<h2 class="section-title">Education</h2>
				<div class="education">
					<div>
					<p><span class="school">Concordia University</span> 2022</p>
<p>Full Stack Web Development</p>
</div>
<div>
<p><span class="school">Udemy</span> 2023</p>
<p>UI/UX Design</p></div>
<div>
<p><span class="school">Concordia University</span> 2012-2015</p>
<p>BA Honors Public History</p>
</div>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p> JavaScript</p>
					<p> TypeScript</p>
					<p> Next.js</p>
					<p> PHP</p>
					<p> React</p>
					<p> Node.js</p>
					<p> Express</p>
					<p> UI/UX</p>
					<p> Various Librairies</p>
					<p> Css, Sass, Bootstrap, Tailwind, Material UI, Styled Components, etc.</p>
					<p> Employee Training</p>
					<p> Technical Support</p>
					<p> Account Management</p>
					<p> Team Leadership</p>
					<p> Jira & Salesforce</p>
					<p> Figma & Adobe XD</p>

				</div>
			</section>

			<section>
				<h2 class="section-title">Interests</h2>
				<div class="content">
					<p>Travel</p>
					<p>Reading</p>
					<p>Crime Documentaries</p>
					<p>Gaming</p>
					<p>Yoga/Pilates</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

.meme{
display: flex;
justify-content: center;
align-items: center;

}
	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.education{
display: flex;
flex-direction: column;
gap: .5em;
	}

	.school{
		font-weight: bold;
		color: violet;
	}
	.role{
		font-weight: bold;
	}
	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
