---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Emilie Dagenais" description="About Emilie Dagenais">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/about1.jpg"
					alt="Anchorman meme"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						A Full-Stack web development graduate with over 10 years of experience in the hospitality industry. I've always pushed myself to excel at my work and have led many high-profile events and trained numerous employees. I enjoy working in a team environment and taking initiative when needed.  I'm always looking to learn more and improve my current skills. 		
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="education">
					<div>
					<p><span class="school">Concordia University</span> 2022</p>
<p>Full Stack Web Development</p>
</div>
<div>
<p><span class="school">Udemy</span> 2023</p>
<p>UI/UX Design</p></div>
<div>
<p><span class="school">Concordia University</span> 2012-2015</p>
<p>BA Honors Public History</p>
</div>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p> JavaScript</p>
					<p> React</p>
					<p> Node.js</p>
					<p> Express</p>
					<p> UI/UX</p>
					<p> Various Librairies</p>
					<p> Employee Training</p>
					<p> Technical Support</p>
					<p> Account Management</p>
					<p> Team Leadership</p>

				</div>
			</section>

			<section>
				<h2 class="section-title">Hobbies</h2>
				<div class="content">
					<p>Travel. Scubba-diving. Reading. Crime Documentaries. Gaming. </p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.education{
display: flex;
flex-direction: column;
gap: .5em;
	}

	.school{
		font-weight: bold;
		color: violet;
	}
	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
